<div class="list" id="<%= list.id %>">
  <h4><%= list.title %></h4>
  <p><%= list.description %></p>

  <div class="list-items">
    <%= render partial: 'items/item', locals: { list: list } %>
  </div>

  <p class="timestamp">Edited <%= list.updated_at.strftime('%b %-d') %></p>

  <div class="form">
    <%= form_for [list, Item.new], remote: true do |f| %>
      <div class="row">
        <%= f.text_field :title, autofocus: true, placeholder: 'title', required: true, class: 'column', id: 'title' %>
        <%= f.text_field :description, placeholder: 'description (optional)', class: 'column', id: 'description' %>
      </div>

      <div class="row">
        <%= f.select :state, Item.states.map { |key, value| [key.humanize, key] }, class: 'column' %>
      </div>

      <div class="row">
        <%= f.submit 'Create Item', class: 'column' %>
      </div>
    <% end %>
  </div>

  <%= link_to (image_tag ('check.svg'), class: 'check'), list_path(list), method: 'delete', remote: true %>
</div>
