<div class="list" id="list-<%= list.id %>">
  <h4><%= list.title %></h4>
  <p><%= list.description %></p>

  <div class="list-items">
    <% list.items.each do |item| %>
      <%= render partial: 'items/item', locals: { item: item } %>
    <% end %>
  </div>

  <p class="timestamp">Edited <%= list.updated_at.strftime('%b %-d') %></p>

  <%# link_to 'Add Item', new_list_item_path(list), remote: true %>

  <div class="form">
    <%= render partial: 'items/form', locals: { list: list } %>
  </div>

  <%= link_to (image_tag ('check.svg'), class: 'check'), list_path(list), method: 'delete', remote: true %>
</div>
