<div class='signup-container'>

  <div class='container'>
    <div class='signup-info'>
      <h2>Sign up for your free Todo by Divi account</h2>
      <h4>For your daily whatever</h4>
    </div>

    <div class='signup-form container'>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class='row'>
          <%= f.email_field :email, placeholder: 'Your email', class: 'column' %>
        </div>

        <div class='row'>
          <%= f.password_field :password, placeholder: 'Set a password', class: 'column' %>
          <%= f.password_field :password_confirmation, placeholder: 'Confirm your password', class: 'column' %>
        </div>

        <div class='row'>
          <%= f.submit 'Create account', class: 'column' %>
        </div>

        <p>By clicking this button, you agree to our <%= link_to 'Terms of Service', '/tos' %>.</p>
      <% end %>

    </div>
  </div>
</div>

<div class='info-container'>
  <div class='container'>
    <div class='row'>

      <div class='column'>
        <h4>What is Todo by Divi?</h4>
        <p>Todo by Divi is a way to organize your thoughts quickly and efficiently. Create simple checklists, reminders, or whatever else works for you! We're here to make your life easier.</p>
      </div>

      <div class='column'>
        <h4>How much does it cost?</h4>
        <p>Todo by Divi is completely free for life with no strings attached. Create as many lists as your heart desires. We promise not to sell your personal information either!</p>
      </div>
    </div>

    <div class='row'>

      <div class='column'>
        <h4>Who created it?</h4>
        <p>Todo by Divi was created by me, Hunter Braun, for the Divi interview process. I have a passion for programming and design, and I'm always striving to learn more!</p>
      </div>

      <div class='column'>
        <h4>Can I hire you?</h4>
        <p>Sure! I love working with Ruby, JavaScript, HTML, and CSS. Shoot me an email, and we can work out the details.</p>
      </div>
    </div>

    <div class='row'>
      <div class='column'>
        <%= image_tag('clipboard.svg', class: 'clipboard row') %>
      </div>
    </div>
  </div>

</div>
